
.title
{
    border: 1px solid;
    width: 98%;
    padding: .5vw;
    margin: auto;
    font-size: 1.8vw;
    text-align: justify;
}
.ImageBox
{
    border: 1px solid;
    width: 96.7%;
    padding: .5vw;
    margin: auto;
    margin-top: .5vw;
}
.ImageBox2
{
    border: 1px solid;
    width: 98%;
    margin: auto;
    display: flex;
}
.Image
{
    border: 1px solid;
    width: 100%;
    height: 25vw;    
}
.Description
{
    border: 1px solid;
    padding: .5vw;
    margin: auto;
    margin-top: .5vw;
    font-size: 1.5vw;
}